body{
    font-family: Arial, sans-serif;
    background-color:  #0a1a2f;
;
    margin: 0;
    padding: 0;
}
.hello{
   color: #4fc3f7;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 42px;
    margin-bottom: 24px;           
    text-align: center;
}

.p{
 color: #73c9f1;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    max-width: auto;
    padding: 30px;
    text-align: center;   
    
}

footer {
    background-color: #274c55;        
    padding: 30px 20px;
    text-align: center;
    margin-top: 100px;               
}


footer::before {
    content: "";
    display: block;
    height: 0px;
    background: #e7e0e0;            
    margin: 1 auto 30px auto;
    width: 100%;
}


footer p {
    color: #fdf5f5;                   
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    letter-spacing: 1px;
}


img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: block;
    float: right;
    padding: 70px;
    margin-bottom: 100px;
}

button:hover{
    background-color: #e7dba3c1;
   
}
.container{
    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    align-content: center;
}


ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;             
    text-align: center;
}

button{

    color: #4fc3f7;
    font-weight: bold;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    align-items: center;
}

 
  .mused{
    color: #4fc3f7;
    font-family:'Poppins', sans-serif; 
    font-weight: 600;
    font-size: 25px;
    margin: 30px;
    margin-top: 30px;
    text-align: center;
  }
  
  .p2{
    color: #4fc3f7;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-top: 10px;
    text-align: center;
  }
  


